@model IEnumerable<ManageEmployeeContacts.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý phòng ban</h1>

@if (@ViewBag.messageStatus != null)
{
    <div class="position-fixed col-5 alert @ViewBag.messageStyle mb-0 p-2 mr-2" id="success-alert" style=" top: 0; right: 0; margin-top: 6px; ">
        <strong>@ViewBag.messageStatus &ensp;</strong> @ViewBag.messageContent.
    </div>
}

<div class="d-flex align-items-center justify-content-between row mb-2">
    <a class="col-2" asp-action="Create">Tạo mới phòng ban</a>

    <form class="col-3 form-outline">
        <input type="search" name="_name" class="form-control" placeholder="Tìm kiếm tên"
               aria-label="Search" />
    </form>

    @*<div class="col-5 alert alert-success mb-0 p-1 mr-2" id="success-alert">
            <strong>Success! </strong> Product have added to your wishlist.
        </div>*@
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên phòng ban
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
